<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" id="#espaco" href="#"><img src="../assets/logo_univille.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="col-2">
        <div class="type">
          <ul>Institucional</ul>
          <ul>Trabalhe na Univille</ul>
          <ul>Fale Conosco</ul>
        </div>

      </div>

      <div class="col-md-6">
        <input type="text" class="form-control align-self-center"
               id="basic-url" placeholder="Pesquisar">
      </div>

      <div class="col-md-1">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle color" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meu Espaço
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>
